<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="NodeJSConfigurationType" path-to-js-file="App.js" working-dir="$PROJECT_DIR$/barbershop/src">
    <envs>
      <env name="DEBUG" value="server:*" />
    </envs>
    <EXTENSION ID="com.jetbrains.nodejs.run.NodeJSStartBrowserRunConfigurationExtension">
      <browser url="http://localhost:3000/" />
    </EXTENSION>
    <method v="2" />
  </configuration>
</component>